.centertext {
  text-align: center;
}

.center {
  text-align: center;
}

.enlargelocation {
  font-size: 250%;
}

#outer {
  height: 100vh;
  width: 100%;
  background-image: url("https://www.publicdomainpictures.net/pictures/230000/velka/chicago-skyline-at-night-1505924392KrN.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.underline {
  text-decoration: underline;
}

.formatlocation {
  padding-top: 10%;
  color: white;
}
