.profileimgl {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 5px solid whitesmoke;
  float: left;
  margin-left: 30px;
}
.profileimgr {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 5px solid whitesmoke;
  float: right;
}

.profileimgrj {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 5px solid whitesmoke;
  float: right;
  transform: rotate(90deg);
}
